#features {
    background: #fafafa;
    padding-bottom: 229px;
    @include media-laptop {
        padding-bottom: 60px;
    }
}

.features-title {
    font-size: 3.6rem;
    line-height: 43px;
    text-align: center;
    padding: 63px 0;
    @include media-laptop {
        padding: 43px 0;
    }
    @include media-tablet {
        padding: 33px 0;
    }
    @include  media-mobile {
        font-size: 3rem;
        padding: 23px 0;
        line-height: 33px;
    }
}

.features-content {
    display: flex;
    justify-content: space-between;
    @include  media-mobile {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.features__background {
    position: relative;
    width: calc(100% / 3);
    @include media-laptop {
        margin-right: 15px;
    }
    @include  media-mobile {
       width: 100%;
    }
    img {
        @include media-laptop {
            width: 100%;
        }
        @include  media-mobile {
            margin-bottom: 20px;
            padding: 0 30px;
            margin-right: 0;
        }
    }
}

.features-description {
    position: absolute;
    text-align: center;
    width: 293px;
    height: 198px;
    margin-top: -30px;
    background-color: red;
    padding: 33px;
    background: #ffffff;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    left: 30px;
    top: 185px;
    @include media-laptop {
        width: 230px;
        height: 150px;
        padding: 20px;
    }
    @include media-tablet {
        width: 190px;
        height: 130px;
        left: 15px;
        top: 155px;
        padding: 13px 10px;
    }
    @include  media-mobile {
        left: 90px;
        top: 120px;
        z-index: 2;
      
    }
}

.features-description__title {
    font-size: 1.8rem;
    @include media-laptop {
        font-size: 1.6rem;
    }
    @include media-tablet {
        font-size: 1.4rem;
    }
}

.features-description__subtitle {
    font-size: 1.2rem;
    line-height: 18px;
    padding: 20px 0;
    @include media-laptop {
        font-size: 1rem;
        padding: 10px 0;
    }
    @include media-tablet {
        font-size: 1rem;
        padding: 10px 0;
    }
}

.features-description__link {
    text-decoration: none;
    color: #ed4c5c;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 18px;
}
