.footer-nav {
    background: #fafafa;
    padding: 85px 0;
    @include media-laptop {
        padding: 55px 0;
    }
    @include  media-mobile {
        padding: 25px 0;
        text-align: center;
    }
}

.footer-content {
    display: flex;
    justify-content: space-between;
    @include  media-mobile {
        flex-direction: column;
        align-items: center;
    }
}

.footer-element {
    width: calc(100% / 4);
    margin-right: 30px;
    @include media-laptop {
        margin-right: 15px;
    }
    @include  media-mobile {
        width: 100%;
        margin-right: 0;
    }
}

.footer-element__title {
    font-size: 1.8rem;
    line-height: 22px;
    padding-bottom: 33px;
    @include media-tablet {
        padding-bottom: 20px;
    }
    @include  media-mobile {
        padding-bottom: 10px;
        padding-top: 20px;
    }
}

.footer-element__subtitle {
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 24px;
    padding-right: 56px;
    @include media-laptop {
        font-size: 1.4rem;
    }
    @include media-tablet {
        padding-right: 26px;
        font-size: 1.2rem;
    }
    @include  media-mobile {
        padding-right: 0;
    }
}

.footer-element__list {
    list-style: none;
}

.footer-element__item {
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 24px;
    text-transform: capitalize;
    @include media-laptop {
        font-size: 1.4rem;
    }
    @include media-tablet {
        font-size: 1.2rem;
    }
}

.footer-element-mail,
.footer-element-phone {
    padding-right: 120px;
    padding-bottom: 10px;
    @include media-laptop {
        padding-right: 80px;
    }
    @include media-tablet{
        padding-right: 60px;
    }
    @include  media-mobile {
        padding-right: 0;
    }
    a {
        text-decoration: none;
        color: #000000;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 24px;
        @include media-tablet {
            font-size: 1.4rem;
        }
    }
}

.company-about {
    padding-top: 86px;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 14px;
    @include media-laptop {
        padding-top: 60px;
    }
}

.support {
    @include media-tablet {
        width: 180px;
    }
}
