.getStarted {
    background: #ed4c5c;
    padding: 94px 0;
    @include media-laptop {
        padding: 64px 0;
    }
}

.getStarted-content {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.getStarted-description {
    width: 445px;
    @include media-laptop {
        width: 50%;
        margin-right: 20px;
    }
}

.getStarted__title {
    font-size: 3.6rem;
    line-height: 43px;
    color: #ffffff;
    padding-top: 30px;
}

.getStarted__subtitle {
    font-weight: normal;
    font-size: 1.4rem;
    padding: 50px 0;
    line-height: 20px;
    text-align: justify;
    color: #ffffff;
    @include media-laptop {
        padding: 30px 0;
    }
}


