.getStarted {
    background: #ed4c5c;
    padding: 94px 0;
    @include media-laptop {
        padding: 64px 0;
    }
    @include media-tablet {
        padding: 44px 0;
    }
}

.getStarted-content {
    display: flex;
    justify-content: space-between;
    text-align: left;
    @include media-tablet {
        flex-direction: column;
        align-items: center;
    }
}

.getStarted-description {
    width: 445px;
    @include media-laptop {
        width: 50%;
        margin-right: 20px;
    }
    @include media-tablet {
        width: 80%;
        padding-bottom: 40px;
    }
}

.getStarted__title {
    font-size: 3.6rem;
    line-height: 43px;
    color: #ffffff;
    padding-top: 30px;
    @include media-tablet {
        padding-top: 20px;
        line-height: 33px;
    }
}

.getStarted__subtitle {
    font-weight: normal;
    font-size: 1.4rem;
    padding: 50px 0;
    line-height: 20px;
    text-align: justify;
    color: #ffffff;
    @include media-laptop {
        padding: 30px 0;
    }
}


