.overview-content {
    display: flex;
    justify-content: space-between;
    padding: 94px 0 95px;
    @include media-tablet {
        padding: 80px 0 80px;
    }
}

.overview-description {
    width: 445px;
    height: 250px;
    @include media-laptop {
        width: 345px;
        height: 150px;
    }
    @include media-tablet {
        width: 300px;
        height: 150px;
    }
}

.overview__title {
    font-size: 3.6rem;
    line-height: 43px;
    padding: 46px 0 24px;
    @include media-laptop {
        font-size: 2.6rem;
    }
    @include media-tablet {
        font-size: 2rem;
        line-height: 23px;
        padding: 26px 0 24px;
    }
}

.overview__subtitle {
    text-align: justify;
    font-size: 1.4rem;
    line-height: 20px;
    @include media-tablet {
        font-size: 1.2rem;
    }
}

.overview-video {
    position: relative;
    width: 445px;
    height: 311px;
    background: url(../img/Video_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 95px;
    img {
        position: absolute;
        left: -28px;
        bottom: 120px;
        @include media-tablet {
            bottom: 80px;
        }
    }
    @include media-laptop {
        margin-right: 0;
    }
    @include media-tablet {
        width: 345px;
        height: 211px;
    }
}
